@using ZavenDotNetInterview.Resources
@model ZavenDotNetInterview.Entities.ViewModels.AllJobsViewModel

@{
    ViewBag.Title = Interface.Home;
}

<div class="btn-group" role="group">
    @Html.ActionLink(Interface.Create, "Create", "Tasks", null, new { @class = "btn btn-default" })
    @Html.ActionLink(Interface.Process, "Process", "Tasks", null, new { @class = "btn btn-default" })
</div>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayName(Interface.CreateDate)
            </th>
            <th class="text-center">
                @Html.DisplayName(Interface.Name)
            </th>
            <th class="text-center">
                @Html.DisplayName(Interface.Status)
            </th>
            <th class="text-center">
                @Html.DisplayName(Interface.Action)
            </th>
        </tr>
    </thead>

    @foreach (var job in Model.Jobs)
    {
        <tr>
            <td class="text-left">
                @Html.DisplayFor(modelItem => job.CreatedAt)
            </td>
            <td class="text-left">
                @Html.DisplayFor(modelItem => job.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => job.Status)
            </td>
            <td class="text-center">
                @Html.ActionLink("Details", "Details", new { jobId = job.Id })
            </td>
        </tr>
    }

</table>
